DEBUG=True
SECRET_KEY=changeme
POSTGRES_DB=dentconnect
POSTGRES_USER=dentconnect
POSTGRES_PASSWORD=supersecret
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost:8100

